.header{
    margin-top: 60px;
}
.backgroundImage {
    width: 100%; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/headerImg.png');
    background-size: cover; /* Ensure the image covers the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
  }
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e7e7e7;
}
.headerTitleSm{
    font-size: 20px;
    margin-bottom: 24px;
    color: #fff;

}
.headerTitleLg{
    font-size: 84px;
}